{% extends "layout.html" %}

{% block title %} 
    {% if error %}
        ERROR FOUND
    {% else %}
        DOWNLOADS
    {% endif %}
{% endblock %}


{% block content %}
    {% if error %}
        <div class="row">
            <div class="alert alert-danger"> 
                <h3> {{error}}</h3>
            </div>
        </div>
    {% else %}
        <div class="row mob-leng-en" hidden> <!-- content grid -->
            <div class="col-xs-12">
                <h3> MoB Project (Extension + API)</h3>
                <p align="center"> Clone or download the source code directly from our repository <a href="https://github.com/JeanGarcia/MoB" target="_blank">HERE</a> </p>
            </div>
            <hr>
            <div class="col-xs-12">
                <h3> Chrome's MoB Extension </h3>
                <p align="center"> Download the <b>Zip</b> version <a href="{{url_for('get_mobext', name='mobextension.zip') }}" download > HERE</a> </p>
                <p align="center"> 
                    <b>Note:</b> Download the <b>ZIP</b>, unpack and all you have to do to install it is: <br> 
                    1.- Open a new Chrome browser window and write in the url bar "chrome://extensions". <br>
                    2.- Select "developer mode" <br>
                    3.- Drag & Drop the unzipped file to this new window. <br>
                    4.- Click 'Add' and that's it. 
                </p> 
            </div>
        </div>
        <div class="row mob-leng-es" hidden> <!-- content grid -->
            <div class="col-xs-12">
                <h3> Proyecto MoB (Extensión + API)</h3>
                <p align="center"> Clona o descarga el código fuente directamente desde nuestro repositorio <a href="https://github.com/JeanGarcia/MoB" target="_blank">AQUI</a> </p>
            </div>
            <hr>
            <div class="col-xs-12">
                <h3> Extensión de MoB para Chrome  </h3>
                <p align="center"> Descarga la versión en <b>Zip</b> desde <a href="{{url_for('get_mobext', name='mobextension.zip') }}" download> AQUI </a> </p>
                <p align="center"> 
                    <b>Nota:</b> Descarga el <b>ZIP</b>, descomprimelo y todo lo que debes hacer para instalarlo es: <br> 
                    1.- Abrir una nueva ventana en el explorador Chrome y escribir en la barra de url "chrome://extensions".<br>
                    2.- Selecciona "modo de desarrollador".
                    3.- Arrastra y suelta la carpeta descomprimida en esta ventana. <br>
                    4.- Haz click en 'Add' y listo. 
                </p> 
            </div>
        </div>
        <div class="row mob-leng-fr" hidden> <!-- content grid -->
            <div class="col-xs-12">
                <h3> Projet MoB (Extension + API)</h3>
                <p align="center"> Cloner ou télécharger le code source directement depuis notre dépôt <a href="https://github.com/JeanGarcia/MoB" target="_blank">ICI</a> </p>
            </div>
            <hr>
            <div class="col-xs-12">
                <h3> Extension MoB pour Chrome </h3>
                <p align="center"> DTéléchargez la version dans <b> Zip </b> à partir de <a href="{{url_for('get_mobext', name='mobextension.zip') }}" download> ICI </a> </p>
                <p align="center"> 
                <b> Note: </b> Téléchargez le <b> ZIP </b>, décompressez-le et tout ce que vous avez à faire pour l'installer est: <br>
                     1. Ouvrez une nouvelle fenêtre dans le navigateur Chrome et tapez la barre d'adresse "chrome: // extensions". <br>
                     2.- Sélectionnez "mode développeur".
                     3. Faites glisser et déposez le dossier non compressé dans cette fenêtre. <br> <br>
                     4.- Cliquez sur 'Ajouter' et c'est tout.
                 </p> 
               
            </div>
        </div>
    {% endif %}
{% endblock %}


