{% extends "layout.html" %}

{% block title %} 
    {% if error %}
        ERROR FOUND
    {% else %}
        MOB REPOSITORY
    {% endif %}
{% endblock %}


{% block content %}
    {% if error %}
        <div class="row">
            <div class="alert alert-danger"> 
                <h3> {{error}}</h3>
            </div>
        </div>
    {% else %}
        <div class="row mob-leng-en" hidden> <!-- content grid -->
            <p class="mob-home-p" > 
                <b>MoB Project: </b> (Manual design of Blocks), This project has the objective to compliment another project named <a href="http://bom.ciens.ucv.ve" class="link" target="_blank">  BoM Project </a>, which is a segmentation algorithm for Web pages. The job of MoB is to get a "Best Segmentation" for an specific Web page, this resulting segmentation will be processed along with the resulting segmentation from BoM algorithm (or any other algorithm) and measure the differences between them.<br> 
                <br>
                The approach to evaluate said algorithms is based on the premise that the Web page segmentation is given by the user´s point of view and not only by the code underneath, this is why the best result should be obtained by a manual segmentation created by an user. Because every point of view of each user can be subjetive, it has to be taken in consideration a great number of manual segmentations created by a large number of users, in order to create "the best segmentation", from all the shared characteristics between all of them. <br>
                <br>
                The MoB Project is built on 3 elements: <b>MoB Chrome Extension</b>, <b>MoB API</b>, <b>MoB Repository</b>.

            </p>
            <p class="mob-home-p" > 
                <b>- MoB Chrome Extension: </b> This is the manual segmentation tool that allows the user to create a manual segmentation of a Web page. It´s necessary to be able to register on the MoB System and be able to log in. You can download the MoB Extension <a href="{{url_for('downloads')}}">HERE</a>. 
            </p>
            <p class="mob-home-p" > 
                <b>- MoB API: </b>  Offers the services that are needed to control the information that is sent by the users and is saved late rin the data base. It offers other servicies for those whose wants to obtain the segmentation in different formats or send new segmentations created by segmentation algorithms. To know more about the services offered consult the <a href="{{url_for('get_doc')}}"> API Documentation </a>. 
            </p>

            <p class="mob-home-p" > 
                <b>- MoB Repository: </b> Consists on the Web site you are on right now, which only purpose is to recopilate and show all the information from the different segmentations made over the Web pages, all of them are collected and can be found on the <a href="{{url_for('get_collections')}}">Collections</a> or you cn also find them by using the search bar. Any other doubt you can consult the section of <a href="{{url_for('faqs')}}">FAQs</a>.  
            </p>
        </div>
        <div class="row mob-leng-es" hidden> <!-- content grid -->
            <p class="mob-home-p" > 
                <b> Proyecto MoB: </b> (Manual design of Blocks), este proyecto tiene como objetivo complementar otro proyecto llamado <a href="http://bom.ciens.ucv.ve" class="link" target="_blank"> Proyecto BoM </a>, el cual consiste básicamente en un algoritmo de segmentación de páginas Web. El trabajo de MoB es obtener una "mejor segmentación" para una página Web específica, esta segmentacion resultante podrá entonces ser procesada junto con la segmentacion resultante del algoritmo BoM ( o cualquier otro algoritmo de segmentación) y establecer una evaluación sobre dicho algoritmo midiendo las diferencias entren ambas segmentaciones.<br> 
                <br>
                El enfoque para evaluar dichos algoritmos se basa en la premisa de que la segmentación de una página Web es dada por el punto de vista del usuario y no necesariamente por el código de la misma, por esto se considera que el mejor resultado debería ser obtenido a través de una segmentación manual realizada por el usuario. Debido a que el punto de vista de cada usuario puede ser subjetivo, se debe tomar el mayor número de segmentaciones manuales realizadas por diferentes usuarios como sea posible y se deben procesar para crear la "mejor segmentación" a partir de las características compartidas entre todas esas segmentaciones.<br>
                <br>
                El Proyecto MoB esta constituido por 3 elementos: <b>Extensión MoB de Chrome</b>, <b>MoB API</b> y <b> MoB Repository</b>.

            </p>
            <p class="mob-home-p" > 
                <b>- Extensión MoB de Chrome: </b> Es la herramienta de segmentación manual que le permite al usuario realizar la segmentación manual sobre una página Web. Es necesaria para poder registrarse en el sistema de MoB y poder iniciar sesión en el mismo. Puede descargar la herramienta <a href="{{url_for('downloads')}}">AQUI</a>. 
            </p>
            <p class="mob-home-p" > 
                <b>- MoB API: </b>  Ofrece los servicios necesarios para controlar la informacion de las segmentaciones que son enviadas por los usuarios y almacenadas en la base de datos. Posee varios servicios para aquellos que deseen obtener el resultado de las segmentaciones en diferentes formatos o enviar nuevas segmentaciones resultantes de otros algoritmos de segmentación, para saber más sobre los servicios que ofrece dirigete la <a href="{{url_for('get_doc')}}"> Documentacion del API </a>. 
            </p>

            <p class="mob-home-p" > 
                <b>- MoB Repository: </b>  Consiste en el sitio Web en el que te encuentras actualmente, cuyo proposito es el de almacenar y presentar la información de las diferentes segmentaciones realizadas sobre las páginas Web, todas ellas se pueden encontrar en las <a href="{{url_for('get_collections')}}">Collecciones </a>o buscando directamente en el buscador. Si tienes más dudas puedes visitar la sección de <a href="{{url_for('faqs')}}">Preguntas Frecuentes</a>.  
            </p>
        </div>
        <div class="row mob-leng-fr" hidden> <!-- content grid -->
            <p class="mob-home-p" > 
                <b> Projet MoB: </b> (Conception manuelle des Blocs), ce projet vise à compléter un autre projet intitulé <a href = "http://bom.ciens.ucv.ve" class = "link" target = "_blank"> BoM Project </a>, qui consiste essentiellement en un algorithme de segmentation de page Web. Le travail de MoB est d'obtenir une "meilleure segmentation" pour une page Web spécifique, cette segmentation résultante peut alors être traitée avec la segmentation issue de l'algorithme BoM (ou tout autre algorithme de segmentation) et établir une évaluation dudit algorithme mesurant les différences entrer les deux segmentations. <br>
                <br>
                L'approche pour évaluer ces algorithmes est basée sur le principe que la segmentation d'une page Web est donnée par le point de vue de l'utilisateur et pas nécessairement par le code de la même, de sorte qu'il est considéré que le meilleur résultat devrait être obtenu grâce à une segmentation manuelle effectuée par l'utilisateur. Étant donné que le point de vue de chaque utilisateur peut être subjectif, le plus grand nombre de segmentations manuelles effectuées par différents utilisateurs doit être considéré comme possible et traité pour créer la «meilleure segmentation» à partir des caractéristiques partagées entre tous les utilisateurs. segmentations. <br>
                 <br> <br>
                 Le projet MoB est composé de trois éléments: <b> Extension MoB de Chrome </b>, <b> API MoB </b> et <b> Référentiel MoB </b>.

            </p>
            <p class="mob-home-p" > 
                <b> - Extension Chrome MoB: </b> C'est l'outil de segmentation manuelle qui permet à l'utilisateur d'effectuer une segmentation manuelle sur une page Web. Il est nécessaire de pouvoir s'enregistrer dans le système MoB et pouvoir s'y connecter. Vous pouvez télécharger l'outil <a href="{{url_for('downloads')}}"> ICI </a>.
            </p>
            <p class="mob-home-p" > 
                <b> - MoB API: </b> Il offre les services nécessaires pour contrôler les informations des segmentations envoyées par les utilisateurs et stockées dans la base de données. Il a plusieurs services pour ceux qui souhaitent obtenir le résultat des segmentations dans différents formats ou envoyer de nouvelles segmentations résultant d'autres algorithmes de segmentation, pour en savoir plus sur les services offerts, allez à <a href = "{{url_for ('get_doc') }} "> Documentation API </a>.
            </p>

            <p class="mob-home-p" > 
               <b> - Référentiel MoB: </b> Consiste en un site Web dans lequel vous êtes actuellement, dont le but est de stocker et de présenter les informations des différentes segmentations effectuées sur les pages Web. Vous les trouverez tous dans le <a href="{{url_for('get_collections')}}">Collections </a>ou chercher directement dans le moteur de recherche. Si vous avez d'autres questions, vous pouvez visiter la section de <a href="{{url_for('faqs')}}">Questions fréquentes
</a>.  
            </p>
        </div>
    {% endif %}
{% endblock %}


