{% extends "layout.html" %}

{% block flash_msg %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissable" >
                    <a  href="#" class="close" data-dismiss="alert" aria-label="close" >×</a>
                    <center><strong> {{category}}</strong> <span>{{message}}</span></center>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block title %} 
    {% if error %}
        ERROR FOUND
    {% else %}
        TAG'S INFO
    {% endif %}
{% endblock %}


{% block content %}
    {% if error %}
        <div class="row">
            <div class="alert alert-danger"> 
                <h3> {{error}}</h3>
            </div>
        </div>
    {% else %}
        {% if edit %}
            <div class="row" align="center"> 
                <h3> Create New Tag </h3>
                <form action="{{ url_for('tagsedit') }}" method="POST">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th> Name </th> <th> Description (ENGLISH) </th> <th> Descripcion (ESPAÑOL) </th> <th> Descripcion (FRANCES) </th> 
                            </tr>
                            <tr>
                                <td hidden > <input type="text" value="POST" name="method" /> </td>
                                <td> <input type="text" name="name" required /> </td> 
                                <td> <textarea type="text" name="desc_eng"></textarea>  </td> 
                                <td> <textarea type="text" name="desc_esp" ></textarea> </td> 
                                <td> <textarea type="text" name="desc_fra" ></textarea> </td>
                                <td> <input type="submit" class="btn general mob-button" value="Create"/> </td> 
                            </tr>
                        </tbody>
                    </table>
                </form>
                 
            </div>
            <div class="row" align="center">
                <h3> Edit Tags </h3>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th> Name </th> <th> Description (ENG) </th> <th> Description (ESP) </th> <th> Description (FRA) </th> 
                        </tr>
                        {% for tag in list %}
                        <tr id="edittag{{tag.id_tag}}" hidden>
                            <form action="{{ url_for('tagsedit') }}" method="POST" style="display: none;">
                                <td hidden > <input type="text" value="PUT" name="method" /> </td>
                                <td hidden > <input type="number" value="{{tag.id_tag}}" name="id_tag"/> </td>
                                <td> <input type="text" name="name" value="{{tag.name}}" /> </td> <td> <textarea type="text" name="desc_eng">{{tag.desc_eng}}</textarea> </td> <td> <textarea type="text" name="desc_esp">{{tag.desc_esp}}</textarea> </td> <td> <textarea type="text" name="desc_fra">{{tag.desc_fra}}</textarea> </td> <td><input type="submit" class="btn general mob-button" value="Save"/> </td>
                            </form>
                        </tr>
                        <tr id="tag{{tag.id_tag}}">
                            <form action="{{ url_for('tagsedit') }}" method="POST">
                                <td hidden > <input type="text" value="DELETE" name="method" /> </td>
                                <td hidden > <input type="number" value="{{tag.id_tag}}" name="id_tag" /> </td>
                                <td> {{ tag.name }} </td> <td> {{ tag.desc_eng }} </td> <td> {{ tag.desc_esp }} </td> <td> {{ tag.desc_fra }} </td> <td> <input type="submit" class="btn general mob-button" value="Delete"> </td> <td> <button class="btn general mob-button" type="button" onclick="$('#tag'+'{{tag.id_tag}}').hide(); $('#edittag'+'{{tag.id_tag}}').show();">  Edit </button> </td>
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            {% if rol == 1 %}
                <div class="row" align="center"> 
                    <a class="mob-nav" href="{{ url_for('tagsedit') }}"><button class="btn general mob-button"> Edit/Create Tags </button> </a>
                
                </div>
                <br>
            {% endif %}
            <div class="row" align="center">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th> Name </th> <th> Description (ENG) </th> <th> Descripcion (ESP) </th> <th> Description (FRA) </th> 
                        </tr>
                        {% for tag in list %}
                        <tr>
                            <td> {{ tag.name }} </td> <td> {{ tag.desc_eng }} </td> <td> {{ tag.desc_esp }} </td> <td> {{ tag.desc_fra }} </td> 
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

