<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mob</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/bootstrapv3/css/bootstrap.min.css') }}">

</head>
<body>

<!-- <div style="background-color:red; height: 100vh; width: 100vw"> </div> -->
<div class="container">  


  <div id="header" class="row" align="center" style="background-color: skyblue;">   <h1> HEADER</h1>  </div>

  <div class="row" style="background-color: green;">
    <div class="col-md-4" id="post1-1" style="background-color: red;">
      <section style="background-color: yellow;">
      	<article style="background-color: gray;">
        <h1 > TituloA-1 </h1>
      	<input type="numeric" disabled >  </p>
      	</article>

      	<article style="background-color: green;">
        <h1> TituloA-2 </h1>
      	<p> parrafoA-2 </p>
      	</article>
      </section>
    </div>

    <div class="col-md-4" id="post1-2"  style="background-color: lime;" >
      <section style="background-color: yellow;">
        <article style="background-color: gray;">
        <h1> TituloA-3 </h1>
        <p> parrafoA-3 </p>
        </article>

        <article style="background-color: green;">
        <h1> TituloA-4 </h1>
        <p> parrafoA-4 </p>
        </article>
      </section>
    </div>
   
    <div class="col-md-4" id="post1-3"  style="background-color: purple;">
      <section style="background-color: yellow;">
        <article style="background-color: gray;">
        <h1> TituloA-5 </h1>
        <input type="text" disabled>  </p>
        </article>

        <article style="background-color: green;">
        <h1> TituloA-6 </h1>
        <p> parrafoA-6 </p>
        </article>
      </section>
    </div>
  </div>

<div class="row" style="background-color: green;">
    <div class="col-md-4" id="post2-1"  style="background-color: purple;">
      <section style="background-color: yellow;">
        <article style="background-color: gray;">
        <h1> TituloB-1 </h1>
        <p> parrafoB-1 </p>
        </article>

        <article style="background-color: green;">
        <h1> TituloB-2 </h1>
        <a name= "link1" href="linktosomewhere.com"> This is a link </a>
        </article>
      </section>
    </div>

    <div class="col-md-4" id="post2-2" style="background-color: red;" align="center">
      <img class="img-responsive" src="{{ url_for('static', filename='img/web_site1.jpg') }}">
    </div>
   

    <div class="col-md-4" id="post2-3" style="background-color: lime;">
      <section style="background-color: yellow;">
        <article style="background-color: gray;">
        <h1> TituloB-3 </h1>
        <p> parrafoB-3 </p>
        </article>

        <article style="background-color: green;">
        <h1> TituloB-4 </h1>
        <a name= "link2" href="linktosomewhere.com"> This is a link </a>
        </article>
      </section>
    </div>
  </div>

<div class="row" style="background-color: green;">
    <div class="col-md-6" id="post3-1" id="test" style="background-color: red;">
      <section style="background-color: yellow;">
        <article style="background-color: gray;">
        <h1> TituloC-1 </h1>
        <p> parrafoC-1 </p>
        </article>

        <article style="background-color: green;">
        <h1> TituloC-2 </h1>
        <p> parrafoC-2 </p>
        </article>
      </section>
    </div>
   
    <div class="col-md-6" id="post3-2" style="background-color: purple;">
      <section style="background-color: yellow;">
        <article style="background-color: gray;">
        <h1> TituloC-3 </h1>
        <p> parrafoC-3 </p>
        </article>

        <article style="background-color: green;">
        <h1> TituloC-4 </h1>
        <p> parrafoC-4 </p>
        </article>
      </section>
    </div>
  </div>


  <div class="row"  id="footer" align="center" style="background-color: skyblue;"> 
      <h1> FOOTER </h1>
  </div>

</div>


</body>
</html>
